*{
    margin: 0;
}
.border-bottom{
    border-bottom: 1px solid grey;

}

.Todo-container{
    display: flex;
    justify-content: center;
    
}
.heading{
    display: flex;
    justify-content: center;
    
}
.description{
    
}
.dateCate{
    display: flex;

}
.tasks{
    display: flex;
    justify-content: center;
}

